


.list-circle {
  list-style: disc;
  list-style-position: inside;
  direction: rtl;
}


.container{

}

/* @media (min-width : 350px){
  .container{
      max-width: 350px;
      margin: 0 auto;
  }

}
@media (min-width : 576px){
  .container{
      max-width: 576px;
      margin: 0 auto;
  }

  
}
@media (min-width : 640px){
  .container{
      max-width: 640px;
      margin: 0 auto;
  }
  
}

@media (min-width : 768px){
  .container{
      max-width: 768px;
      margin: 0 auto;
  }
}
@media (min-width : 1024px){
  .container{
      max-width: 1024px;
      margin: 0 auto;

  }
}
@media (min-width : 1280px){
  .container{
      max-width: 1280px;
      margin: 0 auto;

  }
}
@media (min-width : 1536px){
  .container{
      max-width: 1536px;
      margin: 0 auto;

  }
} */
.download {
  position: relative;
  display: inline-block; 
  padding: 10px 20px; 
}

.download::after {
  position: absolute;
  content: '';
  background-image: url('/public/download.png');
  background-size: cover; /* لضمان تغطية الصورة */
  background-repeat: no-repeat;
  width: 40px; /* عرض الصورة */
  height: 40px; /* ارتفاع الصورة */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* وضع الصورة خلف النص */
}

.no-hover:hover {
  background-color: #F9CE29 !important; 
}

.star {
  position: relative;
}

.star::after {
  position: absolute;
  content: '';
  background-image: url('/public/Star 6.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 50px;
  height: 50px;
  left: 84%;
  top: 68%;
}
.star::before {
  position: absolute;
  content: '';
  background-image: url('/public/star2.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 40px;
    height: 40px;
    left: 5%;
    top: 15%;
}

.downloading {
  position: relative;
}

.downloading::after {
  position: absolute;
  content: '';
  background-image: url('/public/downloading.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 300px;
  height: 350px;
  left: 10%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.downloading::before {
  position: absolute;
  content: '';
  background-image: url('/public/downloading.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 300px;
  height: 250px;
  right: -4%;
  top: 0%;
  transform: rotate(-179deg);
  z-index: 10;
}

/* @media (max-width: 768px) {
  .downloading::after {
    width: 60vw;
    height: 40vh;
    left: 20%;
    top: 60%;
  }

  .downloading::before {
    width: 50vw;
        height: 28vh;
        right: -23px;
        top: 0%;
    }
  
} */