body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.button:hover {
    
  background-color: transparent; 
}


html{
  font-size: calc(65% + .7vmin);
scroll-behavior: smooth;
-moz-scroll-behavior: smooth;
-ms-scroll-behavior: smooth;
-webkit-scroll-behavior: smooth;
-o-scroll-behavior: smooth;

}

.download {
  position: relative;
  
}
.download::after {
  position: absolute;
  content: '';
  background-image: url('/public/download.png');
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%) ;

}